html {
    background-color: whitesmoke;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 0 0;
}

header {
    background-color: rgba(0, 0, 0, 0.65);
    padding-top: 20%;
    padding-bottom: 25%;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    position: absolute;
}

.title {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}

.enter {
    color: lightgray;
    text-decoration: none;
}

/*img.bg and @media screen: "https://css-tricks.com/perfect-full-page-background-image/"*/
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    /*Show header ontop of image*/
    z-index: -2;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

.container {
    margin: 20px 0 30px 20px;
    float: left;
    width: 100%;
    height: 285px;
}

.box {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 5px 20px 5px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    width: 300px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.fullpage {
    margin: 10% 0 30px 20px;
    float: left;
    width: 100%;
    height: 285px;
}

.interior {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 70px 10px 0 10px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    width: 300px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.icon {
    height: 75px;
    width: 75px;
    text-decoration: none;
}

.nav {
    color: whitesmoke;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

li.nav {
    display: inline;
    text-align: right;
    padding: 25px 15px 25px 15px;
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: 0;
    margin-right: 0;
}

a.nav {
    color: white;
    text-decoration: none;
}
